/* Add appropriate styling to the modal */
.deleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9eef6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2;
}

/* Style the header message */
.deleteModal h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

/* Style the buttons */
.deleteModal button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* Style the "No" button */
.deleteModal button.cancel {
  background-color: #e0e0e0;
  color: #333;
}

/* Style the "Yes" button */
.deleteModal button.confirm {
  background-color: #f44336;
  color: white;
}

/* .createModal {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #07ce3f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2;
} */

/* Apply hover effect to buttons */
.deleteModal button:hover {
  opacity: 0.8;
}
.card-wrapper {
  width: 350px;
  height: 280px;
  box-shadow: 0px 3px 15px #a5a5a5;
  display: flex;
  flex-direction: column;
}
.card-top {
  width: 100%;
  height: 2%;
}
.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100px;
  height: 30px;
  padding-top: 1px 1px !important;
  text-align: center;
  /* align-content: center; */
}

.createModal {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9eef6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2;
}

.error {
  border: solid 3px red;
}

.overdue-background {
  background-color: rgba(246, 59, 59, 0.293);
}

.overdue-text {
  color: red;
}

@media (min-width: 320px) and (max-width: 480px) {
  .card-wrapper {
    width: 310px;
    height: 300px;
  }
  .createModal {
    width: 80%;
  }
}
