* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 200px;
  width: 100%;
  background-color: #e9eef6;
  padding-top: 50px;
}

.task-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f7f8;
  padding: 40px 100px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .task-container {
    padding: 12px 10px;
  }
}
