.createModal {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9eef6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* .modal{
    background-color: aqua;
  } */

.icon-option {
  display: inline-block;
  width: 1.5em; /* Adjust the width as needed */
  text-align: center;
}

/* Add margin or padding if you need spacing between the icon and text */
.icon-option i {
  font-size: 1.2em; /* Adjust the font size as needed */
  margin-right: 0.5em;
}
