* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
    background-color: #1F2B55;
}  */

.btn {
  background-color: #1f2b55;
  color: white;
}

label {
  color: #1f2b55;
}

.body {
  background-color: #f5f5f5;
}

.header {
  color: #1f2b55;
  margin: 8px;
  padding: 12px;
  font-size: x-large;
}

form {
  border-color: #1f2b55;
}
